[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "blblstd"]
	path = blblstd
	url = https://github.com/Billyblbl/blblstd.git
[submodule "tmx"]
	path = tmx
	url = https://github.com/baylej/tmx.git
