[submodule "epitech_module_project"]
	path = epitech_module_project
	url = git@github.com:EpitechPromo2022/M-GAM-906-PAR-9-1-openglproject-maxime.tarel.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "blblstd"]
	path = blblstd
	url = https://github.com/Billyblbl/blblstd.git
